.table__container {
  width: 100%;
}

table {
  width: 100%;
  background-color: #3836366e;
  border-collapse: collapse;
  font-size: 0.8rem;
}
caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

th {
  background-color: hsl(0, 0%, 0%, 0.5);
  color: #fff;
}

tr:nth-child(even) {
  background-color: hsl(0, 0%, 0%, 0.2);
}
