* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #fff;
}

@import '../styles/table/table.scss';
@import '../styles/table/tableRow.scss';
@import '../styles/ui/button.scss';
@import '../styles/ui/input.scss';
@import '../styles/watchList.scss';
